.main{
    /* width: 1000px; */
    margin: 0px auto;
}
.main2{
    margin: 20px;
}
h1{
    text-align: center;
}
.inp{
    margin: 2px;
    padding: 15px 5px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: aqua;

}
.inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: blue; */
    /* margin: 0px auto; */
}

/* input{
    margin: 5px;
    padding: 15px 18px;
    border-radius: 10px;
    border: none;
    outline: none; 
} */

.inp-btn{
    background-color: black;
    color: white;
    font-size: large;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 5px;
}
.inp-btn:hover{
    background-color: whitesmoke;
    color: black;
    font-size: larger;
    box-shadow: 2px 2px 5px grey;
    transition: all .5s ease;
    border: none;
}
.tbody-btn{
    background-color: black;
    color: white    ;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    /* font-size: 2px; */
    margin: 5px;

}
/* .tbody-btn:hover{
    background-color: black;
    color: white;
    font-size: 22px;
    box-shadow: 2px 2px 5px grey;
    transition: all .5s ease;
} */

